[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://github.com/ArtifexSoftware/jbig2dec.git
	shallow = true
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = https://github.com/ArtifexSoftware/mujs.git
	shallow = true
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/ArtifexSoftware/thirdparty-freetype2.git
	branch = artifex
	shallow = true
[submodule "thirdparty/gumbo-parser"]
	path = thirdparty/gumbo-parser
	url = https://github.com/ArtifexSoftware/thirdparty-gumbo-parser.git
	branch = artifex
	shallow = true
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/ArtifexSoftware/thirdparty-harfbuzz.git
	branch = artifex
	shallow = true
[submodule "thirdparty/jpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/ArtifexSoftware/thirdparty-libjpeg.git
	branch = artifex
	shallow = true
[submodule "thirdparty/lcms2"]
	path = thirdparty/lcms2
	url = https://github.com/ArtifexSoftware/thirdparty-lcms2.git
	branch = artifex
	shallow = true
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = https://github.com/ArtifexSoftware/thirdparty-openjpeg.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/ArtifexSoftware/thirdparty-zlib.git
	branch = artifex
	shallow = true
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/ArtifexSoftware/thirdparty-curl.git
	branch = artifex
	shallow = true
[submodule "thirdparty/freeglut"]
	path = thirdparty/freeglut
	url = https://github.com/ArtifexSoftware/thirdparty-freeglut.git
	branch = artifex
	shallow = true
[submodule "thirdparty/tesseract"]
	path = thirdparty/tesseract
	url = https://github.com/ArtifexSoftware/thirdparty-tesseract.git
	branch = artifex
	shallow = true
[submodule "thirdparty/leptonica"]
	path = thirdparty/leptonica
	url = https://github.com/ArtifexSoftware/thirdparty-leptonica.git
	branch = artifex
	shallow = true
[submodule "thirdparty/extract"]
	path = thirdparty/extract
	url = https://github.com/ArtifexSoftware/extract.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zxing-cpp"]
	path = thirdparty/zxing-cpp
	url = https://github.com/ArtifexSoftware/thirdparty-zxing-cpp.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zint"]
	path = thirdparty/zint
	url = https://github.com/ArtifexSoftware/thirdparty-zint.git
	branch = artifex
	shallow = true
[submodule "thirdparty/brotli"]
	path = thirdparty/brotli
	url = https://github.com/ArtifexSoftware/thirdparty-brotli.git
	branch = artifex
	shallow = true
